.btn{
  padding: 10px;
  display: inline-block;
  // просто комментарий
  &--call, &--feedback {
    border-radius: 15px;
    background-color: #ff450e;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 20px;
    color: $white;
  }
}
