.callback-main{
  padding: 25px 0 30px;
  text-align: center;
  background-color: $bg-main;
}
.feedback{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 10px auto;
  justify-content: center;
  background-color: $white;
}