.main-header{
  position: relative;
  background-color: $bg-main;
  height: 100vh;
}
.canvas-header{
  position: absolute;
  bottom: 0;
  top:0;
  right:0;
  left:0;
}
.head-promo{
  margin-top: 10%;
  color: $white;
}