.main-header{
  position: relative;
  background-color: $bg-main;
  min-height: 100vh;
  &::after{
    content: '';
    position: absolute;
    display: block;
    background-image: url(../img/down-arrow.png);
    width: 22px;
    height: 40px;
    bottom: 20px;
    left: 50%;
    margin-left: -11px;
    -webkit-animation-name: down-arrow;
    -moz-animation-name: down-arrow;
    -o-animation-name: down-arrow;
    animation-name: down-arrow;
    -webkit-animation-duration: 1600ms;
    -moz-animation-duration: 1600ms;
    -o-animation-duration: 1600ms;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
  }
}
.water-effect{
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background-image: url(../img/bg-head.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
.navbar-brand{
  padding-top: 7px;
  padding-left: 10px;
}
.canvas-header{
  position: absolute;
  bottom: 0;
  top:0;
  right:0;
  left:0;
  max-width: 100%;
}
.head-promo{
  position: relative;
  margin-top: 10%;
  padding-bottom: 10px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  color: $white;
  &__title{
    margin: 20px 0
  }
  &__second-title{
    margin: 20px 0;
  }
  &__text{
    margin: 10px 0;
    font-size: 17px;
  }
}
.nav-link{
  text-transform: capitalize;
  font-size: 16px;
}
@keyframes down-arrow  {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-15px);}
  100% {
    transform: translateY(0px); }
}
