.our-service{
  min-height: 100vh;
  padding: 40px 0 30px;
  &__title{
    text-align: center;
    margin: 10px 0 35px;
  }
  &__item{
    margin: 10px 0 15px;
    color: $black;
    padding: 10px 15px;
    display: block;
    height: 100%;
    box-shadow: 0 0 5px 1px $black;
    border-radius: 5px;
    position: relative;
    &::before{
      position: relative;
      display: block;
      content: "";
      width: 60px;
      height: 50px;
      border-radius: 5px;
      margin: 10px auto 20px;
      -webkit-background-size: cover;
      background-size: cover;
      background-image: url(../img/sozdanie-site.png);
    }
  }
}
.service-mobile::before{
  background-image: url(../img/mobile-prilog.jpg);
}
.service-disain::before{
  background-image: url(../img/design_icon.png);
}
.service-mobile-prol::before{
  background-image: url(../img/mobile-prilog.jpg);
}
.service-seo::before{
  background-image: url(../img/seo-icon.png);
}
.service-reklama::before{
  background-image: url(../img/Social_Marketing-icon.png);
}